/*General*/
html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
}

/*Sidebar*/
.new-room-button {
    border: 1px solid black;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.new-room-button:hover {
    cursor: pointer;
}

.room-nav {
    background-color: lightgray;
    position: fixed;
    width: 25%;
    top: 0px;
    left: 0px;
    height: 100%;
    text-align: left;
    padding-left: 5px;
}

.room-name {
    margin-top: 2rem;
}

.room-name:hover {
    cursor: pointer;
}

/*Messages*/

.messages {
    position: fixed;
    top: 0px;
    left: 250px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 1;
    overflow: scroll;
}

.message {
    padding-right: 10px;
}

.message .username {
    font-size: 1.5rem;
    font-weight: bold;
}

.message .timestamp {
    float: right;
    padding-right: 100px;
}

.message .username, .message .timestamp, .message .user-message {
    display: inline-block;
}

.message .user-message {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;

}

.message {
  border-bottom: solid 1px black;
}


.message-field {
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
    z-index: 2;
}

.message-box {
    width: 800px;
}
